params {
	
	// WORKFLOW PARAMETERS TO REVIEW AT EACH RUN
	// ----------------------------------------
	
	// Where to place results
	results = "$launchDir/results"
	
	// Path to samplesheet CSV (sample_id,fastq)
	samplesheet = "$launchDir/minisamplesheet.csv"
	modules = "$launchDir/samples/modules/sample_sacc.csv"
	
	// cDNA fasta file of organisms
	// Example: https://ftp.ensemblgenomes.ebi.ac.uk/pub/plants/release-62/fasta/prunus_persica/cdna/Prunus_persica.Prunus_persica_NCBIv2.cdna.all.fa.gz
	preprocess_samples = false
	transcriptome_fa = "$launchDir/samples/Prunus_persica.Prunus_persica_NCBIv2.cdna.all.fa"
	transcriptome_gtf = "$launchDir/samples/Prunus_persica.Prunus_persica_NCBIv2.62.gff3"
	organism = "Prunus_persica.Prunus_persica_NCBIv2.60"

	fragment_length = 200
	fragment_sd = 50

	// Random gene selection parameters
	number = 50
	clusters = 10
	organism = "Prunus_persica.Prunus_persica_NCBIv2.60"
	feature_type = "gene"
	output_file = "random_genes.txt"
	replace = false

	// Retrieve seq parameters
	background_sheet = "${launchDir}/samples/background.csv"
	retrieve_seq_type = "upstream"
	retrieve_seq_format = "fasta"
	retrieve_seq_label = "name"
	retrieve_seq_from = "-800"
	retrieve_seq_to = "-1"
	retrieve_seq_output = "retseq.fasta"
	retrieve_seq_gene_list = "$launchDir/samples/data/genes.txt"


	// Whether to download or not the RSAT organism data at start
	// It's advisable to have the organism predownloaded for Rsat
	// So just need to adjust the singularity bind parameters 
	// In each process
	download_organism = false
	server = "https://rsat.eead.csic.es/plants/"

	// Matrix scan parameters
	pvalue = 1e-4

	// WORKFLOW PARAMETERS THAT SHOULD NOT BE CHANGED
	// ----------------------------------------
	
}

process {

	withName: RANDOM_GENES {

		memory = 2.GB
		cpus = 1
		time = '1h'

		publishDir = [
			path: "${params.results}/random_genes_selected/",
			mode: "copy"
		]

	}

	withName: FASTQC_RAW_READS {
		publishDir = [
			path: "${params.results}",
			mode: "copy"
		]

		memory = 2.GB
		cpus = 1
		time = '1h'
	}

	withName: FASTQC_TRIMMERED_READS {
		publishDir = [
			path: "${params.results}",
			mode: "copy"
		]
		memory = 2.GB
		cpus = 1
		time = '1h'
	}

	withName: TRIMMOMATIC {
		ext.args2 = "SLIDINGWINDOW:4:15"
		memory = 4.GB
		cpus = 1
		time = '2h'
	}

	withName: KALLISTO_INDEX {
		memory = 4.GB
		cpus = 1
		time = '2h'		
	}

	withName:KALLISTO_QUANT {
		memory = 4.GB
		cpus = 1
		time = '2h'
	}

	withName: MULTIQC {
		publishDir = [
			path: "${params.results}",
			mode: "copy"
		]
		memory = 4.GB
		cpus = 1
		time = '1h'
	}

	withName: RETRIEVE_SEQUENCES {
		publishDir = [
			path: "${params.results}/Retrieve_sequences",
			mode: "copy"
		]
	}

	withName: RETRIEVE_RANDOM_SEQUENCES {
		publishDir = [
			path: "${params.results}/Retrieve_random_sequences",
			mode: "copy"
		]
	}

	withName: RETRIEVE_GENOME_SEQUENCES {
		publishDir = [
			path: "${params.results}/Retrieve_all_sequences",
			mode: "copy"
		]
	}

	withName: PEAK_MOTIFS {
		publishDir = [
			path: "${params.results}/Peak_motifs",
			mode: "copy"
		]
	}

	withName: PEAK_MOTIFS_RANDOM {
		publishDir = [
			path: "${params.results}/Peak_motifs_random_modules",
			mode: "copy"
		]
	}

	withName: MATRIX_SCAN {
		publishDir = [
			path: "${params.results}/Matrix_scan",
			mode: "copy"
		]
	}

	withName: MATRIX_SCAN_RANDOM {
		publishDir = [
			path: "${params.results}/Matrix_scan_random_modules",
			mode: "copy"
		]
	}

}




// WHETHER TO GENERATE A REPORT OF RUN STATISTICS
report {
  enabled = true
  file    = "${params.results}/report.html"
  overwrite = true
}


// WHETHER TO GENERATE A VISUALIZATION OF THE WORKFLOW
dag {
	enabled = true
	overwrite = true
	file = "${params.results}/workflow-visualization.png"
}


// WHETHER TO REMOVE TEMPORARY FILES AFTER A SUCCESSFUL RUN
cleanup = false

// PROFILE OPTIONS
profiles {	
	docker {
		
		docker.enabled = true
		singularity.enabled = false
		conda.enabled = false
		docker.runOptions =  "-v ${projectDir}/data/supported_organisms.tab:/packages/rsat/public_html/data/supported_organisms.tab -v ${projectDir}/data/genomes/:/packages/rsat/public_html/data/genomes/"

		
	}
	
	singularity {
		
		singularity.enabled = true
		docker.enabled = false
		conda.enabled = false
		singularity.runOptions = "--bind ${projectDir}/data/data:/packages/rsat/public_html/data,${projectDir}/data/downloads:/packages/rsat/downloads/refseq,${projectDir}/data/data/tmp:/packages/rsat/public_html/tmp/serialized_genomes,${projectDir}/data/tmp_home:/home/frobledo/.rsat_tmp_dir"

	}

	slurm {
			executor {
				name = 'slurm'
				queue = "global"
			}
			singularity.enabled = true
			singularity.runOptions = "--bind ${projectDir}/data/supported_organisms.tab:/packages/rsat/public_html/data/supported_organisms.tab,${projectDir}/data/genomes/:/packages/rsat/public_html/data/genomes/,${projectDir}/data/tmp_home:/home/frobledo/.rsat_tmp_dir"
			process {
				clusterOptions = '--qos=short'
			}
		}
	
	conda {
		
		conda {
			enabled = true
			// cacheDir = "$baseDir/config/envs"
			// createOptions = "-y -c conda-forge -c bioconda -c r"
			useMamba = true
		}
		
		singularity.enabled = false
		docker.enabled = false
		
	}
}


// MANIFEST
manifest {
	homePage = ''
	mainScript = 'main.nf'
	defaultBranch = 'main'
	description = 'Peak Motifs RSAT pipeline for downstream analysis'
	author = 'Fabián Robledo'
}
